@{
    ViewBag.Title = "About Us";
}
<main aria-labelledby="title">
    <h2>About Us</h2>
    <br />

    <h4><<b>Mission and values</b></h4>
    <p>Our mission is to provide high-quality, affordable clothing that makes people feel confident and stylish. We believe that everyone deserves to look and feel their best, regardless of their budget.</p>
    <br />
    <h4><b>Background and experience</b></h4>
    <p>
        We are a team of passionate fashion enthusiasts who have been working in the industry for many years. We have a deep understanding of the latest trends and we are committed to providing our customers with the best possible shopping experience.
        Team: We are a small but dedicated team of people who are committed to making our clothing line a success. We are all passionate about fashion and we are always looking for new ways to improve our products and services.
    </p>
    <img src="~/images/IMG_20230802_115350.jpg" height="300" width="400">
    <br />
    <h4><b>Products</b></h4>
    <p>
        We sell a wide variety of clothing, including dresses, skirts, tops, pants, and jeans, mens wear and wode range of kids clothing. We offer a variety of styles to suit different tastes, and we are always adding new items to our collection.
    </p>
    <img src="~/images/images (5).jpg" height="300" width="400">
    <br />
    <h4><b>Story</b></h4>
    <p>
        Our clothing line was inspired by our own experiences as women. We wanted to create a line of clothing that was both stylish and affordable, and that would make everyone feel confident and fashionable.
    </p>
    <img src="~/images/images (4).jpg" height="300" width="400">
    <br /><br />

</main>