@{
    ViewBag.Title = "Contact";
}

<head>
    <style>
        .center-container {
            height: 50vh;
            text-align: center;
            font-family: 'Times New Roman', Times, serif
        }
    </style>
</head>

@*<main aria-labelledby="title">*@
@*<h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@



<h2>Contact</h2>

<body style="font-size:medium">
    <p>
        For any queries, please email us. We are happy to help you.<br />
        Get in touch-<br />
        <b>Email :</b> fashioncorner@gmail.com<br />
        <b>Call us on :</b> +917123456780
    </p>

    <div class="center-container">
        <img src="~/images/y3.jpg" height="350" width="350" align="right" />
    </div>
</body>
@*</main>*@
