/* BEGIN EXTERNAL SOURCE */
table {
width: 433px; height: 370px; background-color:lavender; font-size: large; font-weight: bold;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
td {
height: 72px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
td {
height: 72px
}
/* END EXTERNAL SOURCE */
